---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-title::before {
	content: url("/assets/Images/LL_Favicon_Large.png");
	display: inline-block;
	position: relative;
  padding-right: 5px;
}
