// Placeholder to allow overriding predefined variables smoothly.

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.grid-child {
}
