// Placeholder to allow overriding predefined variables smoothly.

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-child:nth-child(1) {
    flex: 0.5;
    margin-right: 10px;
} 

.flex-child:nth-child(2) {
    flex: 0.001;
    margin-right: 10px;
    border-right: 1px solid grey;
} 
